@charset "utf-8";

/*****************************/
/* Publisher JR. Reset CSS */
/*****************************/

/* HTML Reset */
html,body{width:100%; font-family:'NanumSquare', 'Apple SD Gothic Neo', '돋움', Dotum, Helvetica, , Sans-serif}
html{overflow:auto}
body{background-color:#fff; word-break:break-all}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,form,fieldset,p,button{margin:0; padding:0}
body,h1,h2,h3,h4,input,button{font-family:'NanumSquare', 'Apple SD Gothic Neo', '돋움', Dotum, Helvetica, Sans-serif; font-size:13px; color:#333}
img,fieldset,iframe{border:0 none}
li{list-style:none}
input,select,button{vertical-align:middle}
img{vertical-align:top;}
i,em,address{font-style:normal}
label,button{cursor:pointer}
button{margin:0; padding:0}
a{color:#333; text-decoration:none}
a:hover{color:#333; text-decoration:none}
a:link, a:visited{text-decoration:none}
button *{position:relative}
button img{left:-3px;}
option{padding-right:6px}
table{border-collapse:collapse; border-spacing:0}


/* HTML5 Element Reset */
article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary{display:block}

/* Input Reset */
input[type="checkbox"]{margin:0; vertical-align:middle; margin-right:2px}
input[type="radio"]{margin:0; vertical-align:middle; margin-right:2px}


/* Mobile Reset */
*{-webkit-text-size-adjust:none}
input[type="text"], input[type="password"], input[type="email"], input[type="search"], input[type="image"], input[type="tel"], textarea{-webkit-appearance:none; -webkit-border-radius:0}


/* UI JS CSS */
.fadeinUp{opacity:1; animation:fadeInUpAni 0.6s ease; -webkit-animation:fadeInUpAni 0.6s}
@-webkit-keyframes fadeInUpAni{0%{-webkit-transform:translateY(20px);transform:translateY(20px);opacity:0} 100%{-webkit-transform:translateY(0px);transform:translateY(0px);opacity:1}}
@keyframes fadeInUpAni{0%{-webkit-transform:translateY(20px);transform:translateY(20px);opacity:0} 100%{-webkit-transform:translateY(0px);transform:translateY(0px);opacity:1}}


/* 20170306 */
html,body {margin:0px;width:100%;height:100%;}
/* 200170306 */
